{% extends 'base.html' %}
{% block main %}
<main>

    <div class="container">
        <div class="row mainmargin">
            {% if post %}
                <div class="single-post col-md-8">
                    <h2 class="underscore">{{ post.title }}</h2>
                    {% if post.owner.uid == user.uid %}
                        <a href="/blog/remove/{{ post.uid }}" type="button" class="btn btn-danger"
                           style="margin-left: 50px;">Удалить этот пост
                        </a>
                        <a href="/blog/edit/{{ post.uid }}" type="button" class="btn btn-success"
                           style="margin-left: 50px;">Редактировать этот пост
                        </a>
                    {% endif %}
                    <div class="post-meta">
                        <span><i class="far fa-user"></i> Posted by {{ post.owner.username }}</span><span><i
                            class="far fa-calendar"></i> {{post.create_date}}</span><span><i
                            class="far fa-comment-alt"></i> {{post.comment|length}} comments</span>
                            <i class="far fa-comment-alt"></i> {{post.view|length}} views</span>
                    </div>
                    <img src="{{ url_for('media', path=post.image) }}" alt="">
                    <div class="single-post-content">
                        {{ post.content }}
                    </div>
                    <div class="share">
                        <a class="main-button" href=""><i class="fab fa-facebook-f"></i> FACEBOOK</a>
                        <a class="main-button" href=""> <i class="fab fa-google-plus-g"></i> GOOGLE+</a>
                        <a class="main-button" href=""><i class="fab fa-twitter"></i> TWITTER</a>
                        <a class="main-button" href=""><i class="fab fa-linkedin-in"></i> LINKEDIN</a>
                        <a class="main-button" href=""><i class="fab fa-pinterest-p"></i> PINTEREST</a>
                    </div>
                    <div class="navigation">
                        <a class="prew"><i class="fas fa-chevron-left"></i> PREVIOUS</a>
                        <a class="next">NEXT <i class="fas fa-chevron-right"></i></a>
                    </div>
                    <div class="line" id="commentLine">
                        {% for comment in post.comment if comment %}
                                <div class="comment">
                                    <h1>Прокомментировал: <span>{{ comment.owner.username }}</span></h1>
                                    <p>Говорит, что: <span>{{ comment.content }}</span></p>
                                </div>
                            {% endfor %}
                    </div>
                    {% if user %}
                        <form id="commentForm">
                            <!-- Message input -->
                            <div class="mb-3">
                                <label class="form-label" for="comment">Leave a Comment</label>
                                <textarea class="form-control" id="comment" type="text" placeholder=""
                                          style="height: 10rem;" data-sb-validations="required"></textarea>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Comment is required.
                                </div>
                            </div>
                            <!-- Name input -->
                            <!-- Email address input -->
                            <!-- Form submissions success message -->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">Form submission successful!</div>
                            </div>
                            <!-- Form submissions error message -->
                            <div class="d-none" id="submitErrorMessage">
                                <div class="text-center text-danger mb-3">Error sending message!</div>
                            </div>
                            <!-- Form submit button -->
                            <div class="d-grid">
                                <button class="main-button" id="submitButton" type="submit">Post Comment</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            {% endif %}
            <div class="sidebar col-md-4">
                <div class="input-group">
                    <div class="form-outline">
                        <input id="search-input" type="search" id="form1" class="form-control" placeholder="search"/>
                    </div>
                    <button id="search-button" type="button" class="btn dark">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="recent-posts pt-5">
                    <h4 class="mb-3">RECENT POSTS</h4>
                    {% for post in recent %}
                    <div class="post-item">
                        <a href="/blog/single/{{ post.uid }}" class="post-title">
                            {{post.title}}
                        </a>
                        <div class="post-meta">
                            <span>
                                <i class="far fa-user"></i>
                                {{post.owner.username}}
                            </span>
                            <span>
                                <i class="far fa-calendar"></i> 
                                {{post.create_date}}
                            </span>
                                <span>
                                    <i class="far fa-comment-alt"></i>
                                    {{post.comment|length}} comments
                                </span>
                                
                        </div>
                        <p class="post-content">{{post.content}}</p>
                    </div>
                    {% endfor %}
                    <a href="/blog" class="main-button">View all posts</a>
                    <div class="popular pt-5">
                        <h4 class="mb-3">READ MOST POPULAR ARTICLES</h4>
                        {% for post in popular if post.is_active %}
                        <div class="card bg-dark text-white">
                            <img src="{{ url_for('media', path=post.image) }}"
                                 class="card-img" alt="...">
                            <div class="card-img-overlay p-3">
                                <div class="text-overlay">
                                    <h5 class="card-title text-uppercase">{{post.title}}</h5>
                                    <div class="line"></div>
                                    <div class="card-text article-meta">
                                        <span><i class="far fa-user"></i> {{ post.owner.username }}</span><span><i
                                            class="far fa-calendar"></i> {{post.create_date}}</span><span><i
                                            class="far fa-comment-alt"></i> {{post.comment|length}}</span>
                                    </div>
                                    <a href="/blog/single/{{ post.uid }}" class="card-button">Read article</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="{{ url_for('static', path='js/main.js') }}"></script>
{% endblock %}
